@import '../../../shared/styles/shared.scss';

.brackets {
    margin-top: 20px;



    .bracket {
        height: 84px;
        border: 2px solid $theme_black;

        .bracket-participant-plate {
            height: 40px;

            &.droppable {
                color: $theme_grey;
            }

            &:first-child {
                border-bottom: 2px solid $theme_orange;
            }

            &:nth-child(2) {
                border-top: 0;
            }
        }
    }

    .table-block {
        height: 80px;
    }

    connector {
        padding:0;
        padding-top: 2px;
        display:block;
        width:10%;
        float:left;

        div {
            height: 40px;

            &:first-child {
                border-bottom: 2px solid $theme_orange;
            }
        }
    }
}
