@import '../../../shared/styles/variables.scss';

.brackets {
    margin-top: 20px;

    .bracket {
        height: 84px;
        border: 2px solid $theme_black;

        .bracket-participant-plate {
            height: 40px;

            &.droppable {
                color: $theme_grey;
            }

            &:first-child {
                border-bottom: 2px solid $theme_orange;
            }

            &:nth-child(2) {
                border-top: 0;
            }

            &.buffer {
                pointer-events: none;
                color: $theme_grey;
            }
        }
    }

    .table-block {
        height: 84px;
    }
}
