@import '../../../shared/styles/shared.scss';

.brackets {
    margin-top:20px;

    .table-block {
        height: 80px;

        .bracket {
            height: 85px;
            border: 2px solid $theme_black;

            .bracket-participant-plate {
                height: 40px;

                &.droppable {
                    color: $theme_grey;
                }

                &:first-child {
                    border-bottom: 1px solid $theme_orange;
                }

                &:nth-child(2) {
                    border-top: 1px solid $theme_orange;
                }
            }
        }
    }
}
