<div class="ui-container">
    <div class="ui-widget ui-widget-content ui-g-offset-2 ui-g-8">
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.EMAIL'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.email" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.PASSWORD'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.password" type="password" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.FIRST_NAME'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.firstName" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.LAST_NAME'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.lastName" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.DATE_OF_BIRTH'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <p-calendar icon="fa fa-calendar" dateFormat="dd/mm/yy" [(ngModel)]="model.dateOfBirth" [showIcon]="true"></p-calendar>
            </div>
        </div>
        <div class="ui-g-12 ">
            <button pButton type="button" (click)="register()" label="{{'REGISTER.REGISTER_AND_CONTINUE'|translate}}" cornerStyleClass="none"></button>
        </div>
    </div>
</div>`