<div class="ui-container">
    <div class="ui-widget ui-widget-content ui-corner-all ui-g-offset-3 ui-g-6">
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid"><label>Email</label></div>
            <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="email" /></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid"><label>Confirm Email</label></div>
            <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="confirmEmail" /></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid"><label>Password</label></div>
            <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="password" /></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid"><label>Confirm Password</label></div>
            <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="confirmPassword" /></div>
        </div>
        <div class="ui-g-12">
            <button pButton class="ui-button-success" icon="fa-check-circle" label="Create Account" (click)="register()"></button>
        </div>

    </div>
</div>
