<trnmnt-page title="{{'USER_REGISTRATION.TITLE'|translate}}" contentClass="ui-g-offset-2 ui-g-8">
    <form novalidate #userForm="ngForm">
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.EMAIL'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.email" required name="email" email/>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.PASSWORD'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.password" type="password" required name="password" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.FIRST_NAME'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.firstName" required name="firstName" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.LAST_NAME'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <input pInputText [(ngModel)]="model.lastName" required name="lastName" />
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.TEAM'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <p-dropdown [options]="teamSelectItems" [(ngModel)]="model.teamId" [autoWidth]="false" placeholder="{{'COMMON.SELECT_TEAM'|translate}}"
                    name="team" [disabled]="model.isTeamOwner">
                    <ng-template let-team pTemplate="selectedItem">
                        {{team.label}}
                        <span *ngIf="!getIsApproved(team.value)" class="float-right ui-state-highlight">{{'COMMON.APPROVAL.NOT_APPROVED'|translate}}</span>
                    </ng-template>
                    <ng-template let-team pTemplate="item">
                        {{team.label}}
                        <span *ngIf="!getIsApproved(team.value)" class="float-right ui-state-highlight">{{'COMMON.APPROVAL.NOT_APPROVED'|translate}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-3 ui-fluid">
                <label>{{'COMMON.DATE_OF_BIRTH'|translate}}</label>
            </div>
            <div class="ui-g-9 ui-fluid">
                <p-calendar icon="fa fa-calendar" [(ngModel)]="model.dateOfBirth" dateFormat="dd/mm/yy" readonlyInput="readonlyInput" showIcon="true"
                    [monthNavigator]="true" [yearNavigator]="true" yearRange="1960:2015" [defaultDate]="dateHelper.getDefaultDateOfBirth()"
                    required name="dateOfBirth">
                </p-calendar>
            </div>
        </div>
        <p-checkbox [(ngModel)]="model.isTeamOwner" [binary]="true" label="{{'USER_REGISTRATION.I_AM_TEAM_OWNER'|translate}}" name="isTeamOwner"
            (onChange)="setNoTeam()"></p-checkbox>
        <div class="ui-g-12 ">
            <p-button class="float-right" (click)="register()" label="{{'USER_REGISTRATION.REGISTER_AND_CONTINUE'|translate}}"
                [disabled]="userForm.invalid"></p-button>
        </div>
    </form>
</trnmnt-page>