
<div class="ui-widget ui-widget-content ui-corner-all ui-g-offset-3 ui-g-6">
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>First Name</label></div>
        <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="participant.firstName" required/></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Last Name</label></div>
        <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="participant.lastName" required/></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Date Of Birth</label></div>
        <div class="ui-g-9 ui-fluid">
            <p-calendar 
                        [(ngModel)]="participant.dateOfBirth" 
                        dateFormat="dd.mm.yy" 
                        readonlyInput="readonlyInput" 
                        showIcon="true" monthNavigator="true" 
                        yearNavigator="true" 
                        yearRange="1960:2015"
                        [defaultDate]="getDefaultDateOfBirth()"
                        required>

            </p-calendar>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Team</label></div>
        <div class="ui-g-9 ui-fluid">
            <p-autoComplete [(ngModel)]="participant.team" [suggestions]="teamSuggestions" (completeMethod)="teamSearch($event)" field="name" required></p-autoComplete>
        </div>
    </div> <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Category</label></div>
        <div class="ui-g-9 ui-fluid">
            <p-dropdown [options]="categorySelectItems" [(ngModel)]="participant.categoryId" [autoWidth]="false" placeholder="Select Category" (onChange)="initWeightDivisionDropdown($event)"></p-dropdown>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Weight Division</label></div>
        <div class="ui-g-9 ui-fluid">
            <p-dropdown [options]="weightDivisionsSelectItems" [(ngModel)]="participant.weightDivisionId" [autoWidth]="false" placeholder="Select Weight Division" [disabled]="!weightDivisionsSelectItems || weightDivisionsSelectItems.lenght == 0"></p-dropdown>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Email</label></div>
        <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="participant.email" /></div>
    </div>
    <div class="ui-g">
        <div class="ui-g-3 ui-fluid"><label>Phone Number</label></div>
        <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="participant.phoneNumber" /></div>
    </div>
    <div class="ui-g-12">
        <button pButton class="ui-button-success" icon="fa-check-circle" label="Register" (click)="register()"></button>
    </div>
</div> 