/*$theme_orange: #FE1600;*/
body {
  margin: 0px;
  overflow: hidden; }
  body .ui-button, body .ui-button-icon-left, body .ui-button-icon-right, body .ui-button-icon-only, body .ui-fileupload {
    border-radius: 0;
    background-color: #3c3c3c; }
    body .ui-button:enabled, body .ui-button-icon-left:enabled, body .ui-button-icon-right:enabled, body .ui-button-icon-only:enabled, body .ui-fileupload:enabled {
      background-color: #3c3c3c; }
      body .ui-button:enabled:hover, body .ui-button-icon-left:enabled:hover, body .ui-button-icon-right:enabled:hover, body .ui-button-icon-only:enabled:hover, body .ui-fileupload:enabled:hover {
        background-color: #232323; }
    body .ui-button :disabled, body .ui-button-icon-left :disabled, body .ui-button-icon-right :disabled, body .ui-button-icon-only :disabled, body .ui-fileupload :disabled {
      background-color: #3c3c3c; }
  body .ui-fileupload:hover {
    background-color: #232323; }
  body .ui-steps {
    /*pointer-events: none;*/ }
    body .ui-steps:before {
      position: absolute;
      border-color: #ff5722;
      border-width: 2px;
      width: 100vw;
      left: -32%;
      top: 42%; }
    body .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
      width: 34px;
      background-color: #f8f8f8;
      border-color: #ff5722;
      border-width: 2px;
      color: #3c3c3c;
      font-weight: bold; }
    body .ui-steps .ui-steps-item.ui-state-highlight .ui-menuitem-link .ui-steps-number {
      background-color: #ff5722;
      color: #f8f8f8; }
  body .ui-inputtext {
    border-radius: 0; }
    body .ui-inputtext:active, body .ui-inputtext:focus {
      border-color: #ff5722; }
  body label {
    float: left;
    margin-top: 0.5em; }

.topbar {
  background-color: #3c3c3c;
  height: 50px; }
  .topbar .logo {
    background-color: #ff5722;
    width: 200px;
    height: 50px;
    text-align: right;
    line-height: 2; }

