@import '../../shared/styles/variables.scss';


.topbar {
    background-color: $theme_black;
    height: $header_height;

    .logo {
        background-color: $theme_orange;
        width: 200px;
        height: $header_height;
        text-align: right;
        line-height: 2;
        color: white;
    }
}
div.loader-modal:before {
    top: 50px;
}