<div class="ui-container" *ngIf="eventModel">
    <div class="ui-widget ui-widget-content ui-corner-all ui-g">
        <div class="ui-g-8 event-image"><img src={{eventModel.imgPath}} alt="Alternate Text" /></div>
        <div class="event-details ui-g-4 ui-fluid">
            <div class="ui-g-12 event-title"><h3>{{eventModel.title}}</h3></div>
            <div class="ui-g-12">
                <div class="ui-g-8">Event Date</div><div class="ui-g-4">{{eventModel.eventDate | date}}</div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-8">Registrations Starts</div><div class="ui-g-4">{{eventModel.registrationStartTS | date}}</div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-8">Registration Ends</div><div class="ui-g-4">{{eventModel.registrationEndTS | date}}</div>
            </div>
            <div class="ui-g-2"><button pButton class="ui-button-icon-only" icon="fa-facebook" label="{{eventModel.fbLink}}"></button></div>    
            <div class="ui-g-2"><button pButton class="ui-button-icon-only" icon="fa-vk" label="{{eventModel.vkLink}}"></button></div>    
            <div class="ui-g-12"><button pButton class="ui-button-success" icon="fa-check-circle" label="Register" (click)="participate()"></button></div>    
        </div>
    </div>
    <div class="ui-g-12">
        {{eventModel.description}}
    </div>
</div>