<div class="datatable">
<h3>{{title}}</h3>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-sm-pull-3" *ngFor="let column of columns">{{column.header}}</th>
        </tr>
    </thead>
    <tbody *ngFor="let row of dataset">
        <tr>
            <td *ngFor="let column of columns">{{row[column.value]}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="isCrud"><button type="button" class="btn btn-primary float-left" (click)="showDialogToAdd()">Add</button></div>
</div>