.round-panel-wrapper {
    background-color: #000000;
    min-width: 1200px;
    clear: both;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    position:fixed
}

.round-panel-user-panel {
    height: 603px;
    flex-grow: 1;
}

.round-panel-timer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 30%;
    margin: auto;
    width: 274px;
    height: 119px;
    font-family: ProximaNova;
    font-size: 98px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #cfcfcf;
}

.round-panel-timer-panel {
    height: 603px;
    width: 360px;
    flex-grow: 1;
    position: relative;
}

.round-panel-current-points {
    height: 149px;
    font-family: Roboto;
    font-size: 150px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.round-panel-label-large {
    margin: 10px;
    width: 170px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.round-panel-flex-wrapper {
    display: flex;
}

.round-panel-center-button-wrapper {
    justify-content: center;
}

.round-panel-label {
    margin-left: 10px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffce00;
}

.round-panel-green-button {
    margin: 10px;
    width: 55px;
    height: 48px;
    background-color: rgba(0, 255, 109, 0.2);
    border: solid 0.8px #00ff6d;
    font-family: Roboto;
    font-size: 28.8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.round-panel-red-button {
    margin: 10px;
    width: 55px;
    height: 48px;
    background-color: rgba(255, 0, 0, 0.2);
    border: solid 0.8px #ff0000;
    font-family: Roboto;
    font-size: 28.8px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.round-panel-inner-container {
    height: 80px;
}


.round-panel-center-wrapper {
    margin: 0 auto;
}

.round-panel-score-wrapper {
    background-color: #FFFFFF;
    display: flex;
}

.round-panel-point-wrapper {
    flex-grow: 1;
}

.round-panel-point-advantage {
    background-color: yellow;
}

.round-panel-point-penalty {
    background-color: red;
}

.round-panel-button {
    margin: 0 20px;
    width: 284px;
    height: 72px;
    box-shadow: 0 0 8px 0 rgba(91, 91, 91, 0.5);
    background-color: #f6f6f6;
    border: solid 1px #3c3c3c;
    font-family: Helvetica;
    font-size: 21.6px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 72px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #3c3c3c;
    cursor: pointer;
}

.round-panel-participant {
    margin-top: 50px;
    height: 37px;
    font-family: ProximaNova;
    font-size: 30.4px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.round-panel-margin-wrapper {
    margin: 0 10px;
}

.round-panel-large-box {
    height: 52px;
    width: 170px;
    margin: 10px;
    background-color: #7c7c7c;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}