<div class="round-panel-wrapper">
    <div class="round-panel-timer-wrapper round-panel-inner-container">
        <div class="round-panel-center-wrapper">
            <button pButton [disabled]="isRoundCompleted || timerSubscription" (click)="start()"></button>
            <button pButton [disabled]="isRoundCompleted || !timerSubscription" (click)="pause()"></button>
            <button pButton [disabled]="isRoundCompleted" (click)="stop()"></button>
            <span>{{roundDetails.countdown | formatTimer}}</span>
        </div>
    </div>
    <div class="round-panel-inner-container round-panel-score-wrapper">
        <div>{{roundModel.firstParticipant.firstName}} {{roundModel.firstParticipant.lastName}}</div>
        <div class="round-panel-point-wrapper round-panel-point-advantage">
            <button pButton (click)="changeFirstPlayerPenalty(2)">+</button>
            <button pButton (click)="changeFirstPlayerPenalty(-2)">-</button>
            <span>{{roundDetails.firstPlayerPenalty}}</span>
        </div>
        <div class="round-panel-point-wrapper round-panel-point-penalty">
            <button pButton (click)="changeFirstPlayerAdvantage(2)">+</button>
            <button pButton (click)="changeFirstPlayerAdvantage(-2)">-</button>
            <span>{{roundDetails.firstPlayerAdvantage}}</span>
        </div>
        <div class="round-panel-point-wrapper round-panel-point-advantage">
            <div>{{roundModel.secondParticipant.firstName}} {{roundModel.secondParticipant.lastName}}</div>
            <button pButton (click)="changeSecondPlayerPenalty(2)">+</button>
            <button pButton (click)="changeSecondPlayerPenalty(-2)">-</button>
            <span>{{roundDetails.secondPlayerPenalty}}</span>
        </div>
        <div class="round-panel-point-wrapper round-panel-point-penalty">
            <button pButton (click)="changeSecondPlayerAdvantage(2)">+</button>
            <button pButton (click)="changeSecondPlayerAdvantage(-2)">-</button>
            <span>{{roundDetails.secondPlayerAdvantage}}</span>
        </div>
    </div>
</div>