<trnmnt-page contentClass = 'ui-g-12' [useCommonContentStyle]="false" [title]="'EVENT_DASHBOARD.TITLE'|translate">
<div class="ui-g-8">

</div>
<div class="ui-g-4 ui-fluid">
  <p-button class="ui-g-12 ui-g-nopad" (click)="routerService.goToEditEvent(eventId)" label="{{'EVENT_DASHBOARD.EDIT_EVENT' | translate}}" ></p-button>
  <p-button class="ui-g-12 ui-g-nopad" (click)="routerService.goToEventManagement(eventId)" label="{{'EVENT_DASHBOARD.MANAGE_EVENT' | translate}}" ></p-button>
  <p-button class="ui-g-12 ui-g-nopad" (click)="routerService.goToEventRun(eventId)" label="{{'EVENT_DASHBOARD.RUN_EVENT' | translate}}" ></p-button>
</div>
</trnmnt-page>
