@import url('https://fonts.googleapis.com/css?family=Roboto');

$theme_red: #d30101;
$theme_green: #66d33f;
$theme_orange: #FE1600;
$theme_orange_light: #FFAEA3;
$theme_grey: #cccccc;
$theme_black: #3c3c3c;
$theme_body_color: #f8f8f8;
$theme_font_family: 'Roboto', sans-serif;
$theme_box_shadow: 0 0 10px rgba(0,0,0,0.2); 
$container_width: 750px;
$content_padding_top: 30px;
$header_height: 50px;
