.topbar {
  background-color: #3c3c3c;
  height: 50px; }
  .topbar .logo {
    background-color: #FE1600;
    width: 200px;
    height: 50px;
    text-align: right;
    line-height: 2;
    color: white; }

