@import '../../shared/styles/variables.scss';

body {
    .topbar {
        background-color: $theme_black;
        height: $header_height;

        a {
            color: $theme_white;
        }

        .logo {
            background-color: $theme_orange;
            width: 200px;
            height: $header_height;
            text-align: right;
            line-height: 2;
            color: $theme_white;
        }

        .ui-menubar {
            background-color: transparent;
            border: 0;
            padding: 0;

            .ui-menubar-root-list {
                float: right;
                height: $header_height;

                > .ui-menuitem {
                    height: $header_height;

                    &:hover {
                        background-color: $theme_orange;
                    }

                    > .ui-menuitem-link {
                        background-color: transparent;
                        padding: 0.8em 1.7em;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
div.loader-modal:before {
    top: 50px;
}