.filter-section
{
    display: inline-block;
}

button {
    width: 200px !important;
}

.is-member-chbox {
    padding-left: 15px;
}

.is-member-chbox > span {
    display: inline-block;
    vertical-align: bottom;
    color: #55595c;
}