<div class="brackets-live" *ngIf="bracket">
    <div class="round" *ngFor="let col of columns">
        <div class="match {{getMatchSideClass(col)}} {{getMatchTypeClass(model)}} " *ngFor="let model of getRoundModels(col)">
            <div class="match-content ui-g-1 ui-g-nopad">
                <div class="participant-plate ui-g-12">
                    {{model.firstParticipant ? model.firstParticipant.firstName + ' ' + model.firstParticipant.lastName : ''}}
                </div>
                <div class="participant-plate ui-g-12">
                    {{model.secondParticipant ? model.secondParticipant.firstName + ' ' + model.secondParticipant.lastName : ''}}
                </div>
            </div>
        </div>
    </div>
</div>