<div class="brackets-live-container">
    <div class="brackets-live stages-{{getMaxRound()}}" *ngIf="bracket">
        <div class="bracket-header">
            <div class="ui-g-12"><h2>{{bracket.title}}</h2></div>
            <div class="medalists" *ngIf="bracket.medalists.length > 0">
                <div class="" *ngFor="let medalist of bracket.medalists"><b>{{medalist.place}}</b> {{medalist.participant.firstName}} {{medalist.participant.lastName}}</div>
            </div>

        </div>
        <div class="round" *ngFor="let col of columns">
            <div class="match empty" *ngIf="addEmptyMatch(col)"><div class="match-content"></div></div>
            <div class="match {{getMatchSideClass(col)}} {{getMatchTypeClass(model)}} " *ngFor="let model of getRoundModels(col)">
                <div class="match-content ui-g-1 ui-g-nopad {{getWinnerClass(model)}}" (click)="onMatchClick(model)" [ngClass]="{'editable': this.isEditable(model)}">
                    <div class="participant-plate ui-g-12">
                        {{displayParticipantData(model, 1)}}
                    </div>
                    <div class="participant-plate ui-g-12">
                        {{displayParticipantData(model, 2)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>