@import '../../shared/styles/variables.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
}

.brackets-live {
    display: flex;
    margin: auto;

    &.stages-2 {
        width: 1050px
    }

    &.stages-1 {
        width: 630px
    }

    &.stages-0 {
        width: 210px
    }

    .bracket-header {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: auto;
        text-align: center;
    }
}

.round {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 200px;


    %connector {
        content: "";
        display: block;
        height: calc(50% + 1px);
        position: absolute;
        width: 10px;
    }


    .match {
        $border_style: 2px solid $theme_orange;

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px;
        padding: 10px 0;
        flex-grow: 1;
        position: relative;

        &.final {
            &::before, &::after {
                border-left: none !important;
                border-right: none !important;
                border-bottom: $border_style;
                bottom: calc(50% - 1px);
            }

            .match-content {
                border-color: $theme_orange;
            }
        }


        &:not(.right-side) {

            &::before {
                @extend %connector;
                border-bottom: $border_style;
                bottom: calc(50% - 1px);
                left: -10px;
            }


            &::after {
                right: -10px;
            }

            &:not(:only-child) {
                &:nth-child(odd) {
                    &::after {
                        @extend %connector;
                        border-top: $border_style;
                        border-right: $border_style;
                        top: calc(50% - 1px);
                    }
                }

                &:nth-child(even) {
                    &::after {
                        @extend %connector;
                        border-bottom: $border_style;
                        border-right: $border_style;
                        bottom: calc(50% - 1px);
                    }
                }
            }

            &:only-child {
                &::after {
                    @extend %connector;
                    border: none;
                    border-bottom: $border_style;
                    bottom: calc(50% - 1px);
                }
            }
        }

        &.right-side {

            &::after {
                @extend %connector;
                border-bottom: $border_style;
                bottom: calc(50% - 1px);
                right: -10px;
            }

            &::before {
                left: -10px;
            }


            &:not(:only-child) {
                &:nth-child(odd) {
                    &::before {
                        @extend %connector;
                        border-top: $border_style;
                        border-left: $border_style;
                        top: calc(50% - 1px);
                    }
                }

                &:nth-child(even) {
                    &::before {
                        @extend %connector;
                        border-bottom: $border_style;
                        border-left: $border_style;
                        bottom: calc(50% - 1px);
                    }
                }
            }

            &:only-child {
                &::before {
                    @extend %connector;
                    border-bottom: $border_style;
                    bottom: calc(50% - 1px);
                }
            }
        }

        &.empty {
            .match-content {
                border: none !important;
            }
        }

        &.third-place, &.empty {
            &::before, &::after {
                border: none !important;
            }
        }

        .match-content {
            height: 84px;
            width: 100%;
            border: 2px solid $theme_black;
            position: relative;

            &.editable {
                cursor: pointer;
            }

            .participant-plate {
                height: 40px;

                &.droppable {
                    color: $theme_grey;
                }

                &:first-child {
                    border-bottom: 1px solid $theme_orange;
                }

                &:nth-child(2) {
                    border-top: 1px solid $theme_orange;
                }

                &.buffer {
                    pointer-events: none;
                    color: $theme_grey;
                }
            }
        }
    }
    //trick to add title
    &:nth-child(2) {
        .match {
            &::before {
                display: none;
            }
        }

        .match-content {
            &::before {
                display: none;
            }
        }
    }

    &:last-child {
        .match {
            &::after {
                display: none;
            }
        }
    }
}
