@import '../../shared/styles/variables.scss';

.brackets {
    position: absolute;
    left: 10px;


    .brackets-column {
        width: 170px;
        display: inline-block;

        .bracket {
            width: 100%;
            font-size: 16px;
        }
    }

    .connector-column {
        width: 40px;
        display: inline-block;
    }

    .border-bottom {
        border-bottom: 2px solid $theme_orange
    }

    .border-top {
        border-top: 2px solid $theme_orange
    }

    .border-right {
        border-right: 2px solid $theme_orange
    }

    .border-left {
        border-left: 2px solid $theme_orange
    }

    .connector {
        padding: 0;
        display: block;
        width: 100%;

        div {
            height: 42px
        }
    }
}
