@import '../../shared/styles/variables.scss';

.brackets {
    position: absolute;
    left: 10px;


    .brackets-column {
        width: 170px;
        display: inline-block;

        .bracket {
            width: 100%;
            font-size: 16px;
        }
    }

    .connector-column {
        width: 40px;
        display: inline-block;
    }

    .border-bottom {
        border-bottom: 2px solid $theme_orange
    }

    .border-top {
        border-top: 2px solid $theme_orange
    }

    .border-right {
        border-right: 2px solid $theme_orange
    }

    .border-left {
        border-left: 2px solid $theme_orange
    }

    .connector {
        padding: 0;
        display: block;
        width: 100%;

        div {
            height: 42px
        }
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.brackets {
    display: flex;
}

.round {
    display: flex;
    flex-grow: 1;
    flex-direction: column;


    %match-after {
        content: "";
        display: block;
        height: 50%;
        position: absolute;
        right: -10px;
        width: 10px;
    }


    .match {
        $border_style: 2px solid $theme_orange;



        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px;
        padding: 30px 0;
        flex-grow: 1;
        position: relative;

        &::before {
            content: "";
            display: block;
            height: 30px;
            border-left: $border_style;
            position: absolute;
            left: -10px;
            top: 50%;
            margin-top: -15px;
            margin-left: -2px;
        }

        &:not(:only-child) {
            &:nth-child(odd) {
                &::after {
                    @extend %match-after;
                    border-top: $border_style;
                    border-right: $border_style;
                    top: calc(50% - 1px);
                }
            }

            &:nth-child(even) {
                &::after {
                    @extend %match-after;
                    border-bottom: $border_style;
                    border-right: $border_style;
                    bottom: calc(50% - 1px);
                }
            }
        }

        &:only-child {
            &::after {
                @extend %match-after;
                border-bottom: $border_style;
                bottom: calc(50% - 1px);
            }
        }

        .match-content {
            height: 84px;
            width: 100%;
            border: 2px solid $theme_black;
            position: relative;

            .participant-plate {
                height: 40px;

                &.droppable {
                    color: $theme_grey;
                }

                &:first-child {
                    border-bottom: 1px solid $theme_orange;
                }

                &:nth-child(2) {
                    border-top: 1px solid $theme_orange;
                }

                &.buffer {
                    pointer-events: none;
                    color: $theme_grey;
                }
            }

            &::before {
                content: "";
                display: block;
                width: 10px;
                border-bottom: $border_style;
                margin-left: -2px;
                position: absolute;
                top: calc(50% - 1px);
                left: -10px;
            }
        }
    }

    &:first-child {
        .match {
            &::before {
                display: none;
            }
        }

        .match-content {
            &::before {
                display: none;
            }
        }
    }

    &:last-child {
        .match {
            &::after {
                display: none;
            }
        }
    }
}
