@import '../../../assets/themes/trnmnt/_variables.scss';

@media only screen and (max-width: 1280px) {
    .round-panel-view-wrapper {
        height: 720px
    }
}

@media only screen and (min-width: 1900px) {
    .round-panel-view-wrapper {
        height: 1080px
    }
}



.round-panel-view-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: $theme_black;

    .participant-row {
        height: 28%;
        color: $theme_black;

        &.first-participant {
            background-color: $theme_white;
        }

        &.second-participant {
            background-color: #fadb21;
        }

        .participant-info {
            height: 100%;
            font-size: 7em;
        }
    }

    .title-row {
        height: 16%;
        background-color: $theme_black;
        font-size: 6em;
        color: $theme_white;
        text-align: center;
    }

    .timer-row {
        height: 28%;
        font-size: 12em;
        font-weight: bold;
        letter-spacing: 2.5px;
        text-align: center;
        color: $theme_white;
        background-color: $theme_black;
        line-height: 1.5em;
    }

    .advantage-box {
        height: 100%;
        text-align: center;
        color: $theme_black;

        .ui-g-12 {
            height: 50%
        }

        .advantage {
            background-color: yellow;
        }

        .penalty {
            background-color: #e10a0a;
        }

        .score-label {
            height: 30%;
            font-size: 2em;
        }

        .score-value {
            height: 70%;
            font-size: 4em;
            font-weight: bold;
        }
    }

    .point-box {
        font-size: 10em;
        font-weight: bold;
        text-align: center;
        line-height: 250px;
        height: 100%;
    }

    .logo{
        background-image: url('/logo_small.png');
    }
}
