<div *ngIf="roundModel" class="round-panel-view-wrapper">
    <div class="logo ui-g-nopad ui-g-2"></div>
    <div class="title-row ui-g-nopad ui-g-12">
        {{title}}
    </div>

    <div class="participant-row ui-g-12 ui-g-nopad first-participant">
        <div class="ui-g-9 participant-info">
            {{roundModel.firstParticipant.firstName}} {{roundModel.firstParticipant.lastName}}
        </div>
        <div class="ui-g-1 ui-g-nopad advantage-box">
            <div class="ui-g-12 ui-g-nopad advantage">
                <div class="score-label">ADV.</div>
                <div class="score-value">{{roundDetails.firstParticipantAdvantages}}</div>
            </div>
            <div class="ui-g-12 ui-g-nopad penalty">
                <div class="score-label">PEN.</div>
                <div class="score-value">{{roundDetails.firstParticipantPenalties}}</div>
            </div>
        </div>
        <div class="ui-g-2 ui-g-nopad point-box">{{roundDetails.firstParticipantPoints}}</div>
    </div>

    <div class="ui-g-12 ui-g-nopad timer-row">{{roundDetails.countdown | formatTimer}}</div>

    <div class="participant-row ui-g-12 ui-g-nopad second-participant">
        <div class="ui-g-9 participant-info">
            {{roundModel.secondParticipant.firstName}} {{roundModel.secondParticipant.lastName}}
        </div>
        <div class="ui-g-1 ui-g-nopad advantage-box">
            <div class="ui-g-12 ui-g-nopad advantage">
                <div class="score-label">ADV.</div>
                <div class="score-value">{{roundDetails.secondParticipantAdvantages}}</div>
            </div>
            <div class="ui-g-12 ui-g-nopad penalty">
                <div class="score-label">PEN.</div>
                <div class="score-value">{{roundDetails.secondParticipantPenalties}}</div>
            </div>
        </div>
        <div class="ui-g-2 ui-g-nopad point-box">{{roundDetails.secondParticipantPoints}}</div>
    </div>
</div>
