<span class="absolute-weight-division">
    <button pButton label="Create Absolute Division" [disabled]="categoryId == null || categoryId == ''" (click)="showAbsoluteWeightDivision()"></button>
    <p-dialog header="Create Absolute Division"
              [(visible)]="displayAbsoluteWindow"
              [responsive]="fade"
              showEffect="fade"
              [modal]="true"
              [width]="1200"
              [minHeight]="200"
              [resizable]="false">
        <table-picker-list class="ui-g-12"
                           [sortField]="sortField"
                           [sourceArray]="candidates"
                           [targetArray]="selectedParticipants"
                           [sortDirection]="sortDirection"
                           [columnsData]="columnsData"></table-picker-list>
        <button pButton label="Create" (click)="createAbsoluteWeightDivision()"></button>
    </p-dialog>
</span>