<div class="table-pick-list trnmnt-table">
    <div>
        <p-dataTable #sourceTable
                     [value]="candidates"
                     [sortField]="sortField"
                     [sortOrder]="sortDirection"
                     [(selection)]="selectedSourceEntity"
                     selectionMode="single"
                     [responsive]="true">
            <p-column *ngFor="let column of columnsData" field="{{column.propertyName}}" header="{{column.displayName}}" [sortable]="column.isSortable">
                <ng-template let-col let-colObj="rowData" pTemplate="body">
                    <span>{{colObj[col.field]}}</span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="picker-buttons">
        <button type="button" pButton (click)="addItem()" label="Add >"></button>
        <button type="button" pButton (click)="removeItem()" label="< Remove"></button>
    </div>
    <div>
        <p-dataTable #targetTable
                     [value]="selectedParticipants"
                     [sortField]="sortField"
                     [sortOrder]="sortDirectionBack"
                     [(selection)]="selectedTargetEntity"
                     selectionMode="single"
                     [responsive]="true">
            <p-column *ngFor="let column of columnsData" field="{{column.propertyName}}" header="{{column.displayName}}" [sortable]="column.isSortable">
                <ng-template let-col let-colObj="rowData" pTemplate="body">
                    <span>{{colObj[col.field]}}</span>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
</div>