.table-pick-list {
    & > div {
        display: table-cell;
        float: none;

        &:not(.picker-buttons) {
            vertical-align: top;
            width: 43%;
        }

        &.picker-buttons {
            vertical-align: middle;
            width: 14%;
            padding: 0 1em;
            
            button {
                margin-top: 10px;
                width: 100%;
            }
        }
    }
}
