<div class="ui-fluid">
    <div class="ui-g-12 center-block federation-logo">
    </div>
    <div *ngIf="registrationEnabled" class="ui-g-12">
        {{'LOGIN.SIGN_IN_OR' | translate}}
        <a class="btn-link" (click)="signUp()">{{'LOGIN.SIGN_UP' | translate}}</a>
        {{'LOGIN.IF_YOU_DONT_HAVE_ACCOUNT' | translate}}
    </div>

    <div *ngIf="socialLoginEnabled">
        <div class="ui-g-6">
            <button pButton type="button" icon="fa fa-facebook" (click)="facebookLogin()"></button>
        </div>
        <div class="ui-g-6">
            <button pButton type="button" icon="fa fa-google" (click)="facebookLogin()"></button>
        </div>
    </div>
    <div class="ui-g-3 ui-fluid">
        <label class="field-title">{{'COMMON.EMAIL' | translate}}</label>
    </div>

    <div class="ui-g-9 ui-fluid">
        <input type="text" pInputText [(ngModel)]="username" placeholder="" />
    </div>
    <div class="ui-g-3 ui-fluid">
        <label class="field-title">{{'COMMON.PASSWORD' | translate}}</label>
    </div>
    <div class="ui-g-9 ui-fluid">
        <input type="password" pInputText [(ngModel)]="password" placeholder="" />
    </div>
    <div class="ui-g-12">
        <button pButton type="button" (click)="login()" label="{{'LOGIN.SIGN_IN' | translate}}"></button>
    </div>


    <div class="ui-g-12">
        <span class="ui-messages-error">{{errorMessage}}</span>
    </div>
    <div class="ui-g-12">
        <span class="float-right">trnmnt.pro</span>
    </div>
</div>