<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="ui-g login-container">
            <div class="ui-g-12 center-block">
                <span>TRNMNT</span>
            </div>
            <div class="ui-g-12">
                <input type="text" pInputText [(ngModel)]="username" placeholder="Username" />
                <!--<input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Username">-->
            </div>
            <div class="ui-g-12">
                <input type="password" pInputText [(ngModel)]="password" placeholder="Password" />
                <!--<input type="text" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Username">-->
            </div>
            <div class="ui-g-12">
                <button pButton type="button" (click)="login()" label="Login" cornerStyleClass="none"></button>
            </div>
        </div>
    </div>
</div>
<bracket></bracket>
