<div class="fighter-filter" *ngIf="weightDivisionDDLOptions && beltDivisions && ageDivisions">
    <div class="filter-section">
        <h5>Weight class:</h5>
        <dropdown [dropdownValues]="weightDivisionDDLOptions" (onSelect)="weightSelect($event)"></dropdown>
    </div>
    <div class="filter-section">
        <h5>Age division:</h5>
        <dropdown [dropdownValues]="ageDivisionDDLOptions" (onSelect)="ageSelect($event)"></dropdown>
    </div>
    <div class="filter-section">
        <h5>Belt division:</h5>
        <dropdown [dropdownValues]="beltDivisionDDLOptions" (onSelect)="beltSelect($event)"></dropdown>
    </div>
</div>