@import url('https://fonts.googleapis.com/css?family=Roboto');

$theme_red: #d30101;
$theme_green: #66d33f;
$theme_orange: #FE1600;
$theme_orange_light: #FFAEA3;
$theme_grey: #cccccc;
$theme_black: #3c3c3c;
$theme_white: #ffffff;
$theme_body_color: #f8f8f8;
$theme_font_family: Roboto, sans-serif;
$theme_box_shadow: 0 0 10px rgba(0,0,0,0.2);
$container_width: 750px;
$content_padding_top: 30px;
$header_height: 50px;
$theme_light_grey: #c7c7c7 ;
$fontFamily: $theme_font_family;
$fontSize: 1em;
$borderRadius: 0px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #333333;
$headerBgColor: #333333;
$headerTextColor: #eeeeee;
$headerFontWeight: bold;
$headerIconTextColor: #eeeeee;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: $theme_light_grey;
$contentBgColor: $theme_white;
$contentTextColor: #eeeeee;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: $theme_light_grey;
$stateDefaultBgColor: #3d3d3d;
$stateDefaultTextColor: #eeeeee;

//Active State
$stateActiveBorderColor: #2e2e2e;
$stateActiveBgColor: $theme_black;
$stateActiveTextColor: #ffffff;

//Highlight State
$stateHighlightBorderColor: $theme_grey;
$stateHighlightBgColor: #eeeeee;
$stateHighlightTextColor: $theme_orange;

//Focus State
$stateFocusBorderColor: $theme_black;
$stateFocusBgColor: #474747;
$stateFocusTextColor: #ffffff;

//Error State
$stateErrorBorderColor: #ffb73d;
$stateErrorBgColor: #ffc73d;
$stateErrorTextColor: #111111;

//Hover State
$stateHoverBorderColor: $theme_black;
$stateHoverBgColor: #474747;
$stateHoverTextColor: #ffffff;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #ffb73d;
$inputGroupTextColor: #ffffff;

