@import '_variables.scss';
@import '_theme.base.scss';

.ui-inputtext {
  border-radius: 0;
  padding: 0.5em 0.75em;

  &:active,
  &:focus {
    box-shadow: none;
  }
}

body {
  margin: 0px;
  font-family: $theme_font_family !important;

  .box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .ui-corner-all {
    border-radius: 0 !important;
  }

  .content {
    padding-top: 0px;
  }

  .form {
    padding: 1em 2em;
  }

  .ui-button {
    padding: 0.25em 1em;
    border-width: 1px;

    &.ui-button-danger.ui-state-default {
      background-color: $theme_grey;
      color: $theme_red;
      border-color: $theme_grey;

      &:hover {
        background-color: $theme_grey;
        border-width: 1px;
      }
    }
  }

  .ui-fileupload:hover {
    background-color: darken($theme_black, 10%);
  }

  .steps-content {
    float: none;
    min-height: 65vh;
    margin-top: 20px;
  }

  .ui-steps {
    /*pointer-events: none;*/
    position: inherit;

    .ui-state-default {
      border: 0px;
    }

    &:before {
      position: absolute;
      border-color: $theme_orange;
      border-width: 2px;
      width: 100%;
      box-sizing: border-box;
      top: 164px;
    }

    $bg_color: $theme_orange;

    .ui-steps-item {
      .ui-menuitem-link {
        padding: 0px;

        .ui-steps-number {
          //width: 34px;
          background-color: $theme_body_color;
          border-color: $bg_color;
          border-width: 2px;
          color: $theme_black;
          font-weight: bold;
          top: 0;
          margin-bottom: 0;
        }
      }
    }

    .ui-steps-item.ui-state-highlight {
      .ui-menuitem-link {
        .ui-steps-number {
          background-color: $bg_color;
          color: $theme_body_color;
        }
      }
    }
  }

  .ui-inputtext {
    border-radius: 0;

    &:active,
    &:focus {
      border-color: $theme_black;
    }
  }

  label {
    display: inline-block;
    margin-top: 0.5em;
  }

  .ui-dialog {
    border-radius: 0;
    border: 0px;

    &.ui-widget-content {
      padding: 0px;
    }

    .ui-dialog-titlebar {
      text-align: center;
      font-weight: normal;
    }

    .ui-dialog-titlebar {
      padding: 0.5em;
      border: 0px;
    }

    .ui-dialog-content {
      overflow: visible;
    }
  }

  .ui-tabview {
    padding: 0px;
    border: 0px;
    background-color: transparent;

    .ui-tabview-panel {
      overflow: visible;
    }

    &.ui-tabview-top {
      .ui-tabview-nav {
        background-color: transparent !important;
        border: none;

        li {
          background-color: transparent;
          border: none;
          height: 40px;
          margin-bottom: 10px;

          a {
            color: $theme_dark_grey !important;
          }

          &:hover {
            background-color: transparent !important;
            color: $theme_orange !important;
            a {
              color: $theme_orange !important;
            }
          }
        }
      }

      .ui-state-default {
        .ui-tabview-title:hover {
          color: $theme_orange;
        }
      }

      .ui-tabview-selected {
        .ui-tabview-title {
          color: $theme_orange;
          border-bottom: 2px solid currentColor;
          border-radius: 5px, 5px;
        }
      }
    }
  }

  .disabled {
    position: relative;

    .modal {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 100;
      background-color: white;
      opacity: 0.8;
      line-height: 45%;

      span {
        position: absolute;
        top: 45%;
        left: 45%;
        color: lighten(black, 50%);
      }
    }
  }

  .step-title {
    padding: 20px;

    span {
      text-align: center;
      font-weight: bold;
      margin: auto;
      font-size: 1.5em;
    }
  }

  .ui-chkbox {
    margin-top: 0.5em;

    .ui-chkbox-box {
      &.ui-state-active {
        border-color: $theme_black;
        background-color: $theme_black;
      }
    }
  }

  .ui-table {
    thead {
      .ui-sortable-column.ui-state-highlight {
        background-color: $theme_black;
        border-color: $theme_black;
        color: $theme_white;
        .ui-sortable-column-icon {
          color: $theme_white;
        }
      }
      tr {
        th {
          padding: 0 !important;
        }
      }
    }
  }

  .ui-radiobutton {
    .ui-radiobutton-box {
      &.ui-state-active {
        border-color: $theme_black;
        background-color: $theme_black;
      }
    }

    .ui-radiobutton-label {
      vertical-align: bottom;
    }
  }

  a {
    text-decoration: none;
  }

  .ui-dropdown {
    .ui-dropdown-trigger {
      padding: 0.35em 0.25em;
      border: 0px;
    }
  }

  .ui-datepicker {
    a {
      &.ui-state-active {
        background-color: $theme_orange !important;
      }
    }
  }

  .box-shadow {
    box-shadow: $theme_box_shadow;
  }

  .page-title {
    font-size: 2em;
    font-weight: bold;
    padding: 30px 0px;
  }

  .page-subtitle {
    font-size: 1.5em;
    font-weight: bold;
    // padding: 30px 0px;
  }

  .ui-calendar {
    .ui-datepicker-calendar {
      .ui-state-default {
        color: white;
      }
    }
  }

  .ui-growl {
    width: 30em;
    top: 60px;
  }

  .ui-widget-content {
    .btn-link {
      text-decoration: underline;
      color: $theme_blue;
      cursor: pointer;
    }
  }
}

p-dropdown.ng-valid[required] .ui-dropdown,
p-calendar.ng-valid[required] span input,
input.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

p-dropdown.ng-invalid.ng-touched:not(form) .ui-dropdown,
p-calendar.ng-invalid.ng-touched:not(form) span input,
input.ng-invalid.ng-touched:not(form) {
  border-left: 5px solid rgb(146, 9, 9); /* red */
}

textarea {
  resize: none;
}

label {
  min-height: 1em;
}
