.tournament-user-plate-wrapper {
    height: 40px;
    width: 280px;
    box-shadow: 2px 2px 4px 0 rgba(154, 154, 154, 0.5);
    background-color: #ffffff;
}

.tournament-user-plate-text {
    margin: 10px;
    float: left;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
}

.tournament-user-plate-score {
    margin: 10px;
    float: right;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: right;
    color: #66d33f;
}