  <div class="row">
    <div class="col-md-4">
        <table class="table-condensed" style="width:100%">
          <tr>
            <td class="col-md-5"><div class="input-group"><div class="form-control">Team 1</div><span class="input-group-addon"><span class="badge pull-right">1</span></span></div></td>
          
          </tr>
          <tr>
            <td class="col-md-5"></td>
            <td class="col-md-2">L</td>
            <td class="col-md-5"><div class="input-group"><div class="form-control">Team 1</div><span class="input-group-addon"><span class="badge pull-right">0</span></span></div></td>
          </tr>
          <tr>
            <td><div class="input-group"><div class="form-control">Team 2</div><span class="input-group-addon"><span class="badge pull-right">0</span></span></div></td>
          </tr>
        </table>
    </div>
  </div>


 <div class="row">
    <div class="col-md-4">
        <table class="table-condensed" style="width:100%">
          <tr *ngFor="let row of rowsCount">
            <td *ngFor="let col of columnsCount" class="col-md-2">
              <div *ngIf="col == 0 || col == columnsCount[columnsCount.length-1]">
                FIGHTER
              </div>
                
              
             </td>
          </tr>
        </table>
    </div>
  </div>

