
    <table class="table-condensed" style="width:auto">
<tr>
  <td [innerHTML]="getFighterDiv(this.fighters[0])"></td>
  <td class = 'separator' [innerHTML]="divleftToBottomSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divBottomToRightSeparator"></td>
  <td [innerHTML]="getFighterDiv(this.fighters[4])"></td>
</tr>
<tr>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterToRightSeparator"></td>
  <td [innerHTML]="divFighter"></td>
  <td class = 'separator' [innerHTML]="divleftToBottomSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divBottomToRightSeparator"></td>
  <td [innerHTML]="divFighter"></td>
  <td class = 'separator' [innerHTML]="divLeftToCenterSeparator"></td>
  <td></td>
</tr>
<tr>
    <td [innerHTML]="getFighterDiv(this.fighters[1])"></td>
  <td class = 'separator' [innerHTML]="divleftToTopSeparator"></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterSeparator"></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divTopToRightSeparator"></td>
  <td [innerHTML]="getFighterDiv(this.fighters[5])"></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterToRightSeparator"></td>
  <td [innerHTML]="divFighter"></td>
  <td></td>
  <td [innerHTML]="divFighter"></td>
  <td class = 'separator' [innerHTML]="divLeftToCenterSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
    <td [innerHTML]="getFighterDiv(this.fighters[2])"></td>
  <td class = 'separator' [innerHTML]="divleftToBottomSeparator"></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterSeparator"></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divBottomToRightSeparator"></td>
  <td [innerHTML]="getFighterDiv(this.fighters[6])"></td>
</tr>
<tr>
  <td></td>
  <td class = 'separator' [innerHTML]="divCenterToRightSeparator"></td>
  <td [innerHTML]="divFighter"></td>
  <td class = 'separator' [innerHTML]="divleftToTopSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divTopToRightSeparator"></td>
  <td [innerHTML]="divFighter"></td>
  <td class = 'separator' [innerHTML]="divLeftToCenterSeparator"></td>
  <td></td>
</tr>
<tr>
    <td [innerHTML]="getFighterDiv(this.fighters[3])"></td>
  <td class = 'separator' [innerHTML]="divleftToTopSeparator"></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td class = 'separator' [innerHTML]="divTopToRightSeparator"></td>
    <td [innerHTML]="getFighterDiv(this.fighters[7])"></td>
</tr>
</table>




<!--<div class="row">
  <div class="col-md-4">
    <table class="table-condensed" style="width:100%">
<tr *ngFor="let row of rowsCount">
  <td *ngFor="let col of columnsCount" class="col-md-2">
    <div [innerHTML]="tableArray[col][row]"></div>
  </td>
</tr>
</table>
</div>
</div>-->