<trnmnt-page [title]="'Event Overview'|translate" contentClass="ui-g-8 ui-g-offset-2">
    <div class="ui-widget-content ui-g-12 event-plate" *ngFor="let event of events" (click)="dashboard(event.eventId)">
        <div class="ui-g-6">
            <b>{{event.title}}</b>
        </div>
        <div class="float-right">
            <button pButton type="button" class="ui-button-icon-only" icon="fas fa-edit" (click)="editEvent(event.eventId)"></button>
            <button pButton type="button" class="ui-button-icon-only" icon="fa fa-cog" (click)="openDetails(event.eventId)"></button>
            <button pButton type="button" class="ui-button-icon-only" icon="fa fa-play" (click)="runEvent(event.eventId)"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <button pButton type="button" label="Create Event" (click)="createEvent()"></button>
    </div>
</trnmnt-page>
