<trnmnt-page contentClass="ui-g-8 ui-g-offset-2" [title]="'PARTICIPATION.TEAM_PARTICIPATION_TITLE'|translate:eventTitleParameter">
  <div *ngIf="currentStep == 0">
    <ng-template #participateTemplate let-data>
      <div *ngIf="!data.isParticipant">
        <p-button icon="fa fa-check" (click)="addToParicipation(data)"
          label="{{'PARTICIPATION.ADD' | translate}}"></p-button>
      </div>
      <label *ngIf="data.isParticipant">{{'PARTICIPATION.ALREADY_PARTICIPANT' | translate}}</label>
    </ng-template>
    <span class="page-subtitle">{{'MY_TEAM.ATHLETES' | translate}}</span>
    <crud #crudComponent [entities]="allAthletes" [columns]="columns"
      [columnOptions]="columnOptions" [showRowNumbers]="false"
      [addEnabled]="false" [editEnabled]="false" [deleteEnabled]="false"
      [sortField]="sortField" [sortOrder]="sortDirection"
      [lazy]="false" [(firstIndex)]="firstIndex" [dialogMinWidth]="500"
      class="ui-g-12" gridMinHeight="350" [actionsTemplate]="participateTemplate"
      [actionsHeader]="'PARTICIPATION.PARTICIPATE' | translate">
    </crud>
    <div class="ui-g-12">
      <div class="float-right">
        <button pButton type="button" class="float-right" label="{{'COMMON.CONTINUE'|translate}}"
          (click)="nextStep()" *ngIf="currentStep != lastStep"
          [disabled]="selectedAthletes.length == 0"></button>
      </div>
    </div>
  </div>
  <div *ngIf="currentStep == 1">
    <div *ngFor="let participant of selectedAthletes" class="ui-g ui-g-12 paticipant-box">
      <input class="ui-g-6" pInputText [(ngModel)]="participant.firstName"
        required name="firstName" [value]="participant.firstName"
        [maxLength]=100/>
      <input class="ui-g-6" pInputText [(ngModel)]="participant.lastName"
        required name="lastName" [value]="participant.lastName"
        [maxLength]=100/>
      <p-dropdown class="ui-g-6" [options]="categorySelectItems"
        [(ngModel)]="participant.categoryId" [autoWidth]="false"
        placeholder="{{'EVENT.SELECT_CATEGORY'|translate}}"
        (onChange)="initWeightDivisionDropdown($event)"
        name="category" required></p-dropdown>
      <p-dropdown class="ui-g-6" [options]="weightDivisionsSelectItems"
        [(ngModel)]="participant.weightDivisionId" [autoWidth]="false"
        placeholder="{{'EVENT.SELECT_WEIGHT_DIVISION'|translate}}"
        [disabled]="!weightDivisionsSelectItems || weightDivisionsSelectItems.length == 0"
        name="weightDivision" required></p-dropdown>
    </div>
  </div>
</trnmnt-page>