<div class="ui-widget">
    <p-steps [model]="menuItems" [activeIndex]="currentStep"></p-steps>
    <div class="ui-g-8 ui-g-offset-2" *ngIf="eventModel">
        <div *ngIf="currentStep==0" class="">
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Title</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.title" /></div>
            </div>
            <div class="disabled">
                <div class="modal">
                    <span>COMING SOON</span>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Domain</label></div>
                    <div class="ui-g-6 ui-fluid"><input pInputText [(ngModel)]="eventModel.url" /></div>
                    <div class="ui-g-3 ui-fluid"><label>uabjjf.trnmnt.pro</label></div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Date</label></div>
                    <div class="ui-g-9 ui-fluid">
                        <p-calendar [(ngModel)]="eventModel.eventDate" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration Start</label></div>
                    <div class="ui-g-9 ui-fluid">
                        <p-calendar [(ngModel)]="eventModel.registrationStartTS" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Early Registration End</label></div>
                    <div class="ui-g-9 ui-fluid">
                        <p-calendar [(ngModel)]="eventModel.earlyRegistrationEndTS" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration End</label></div>
                    <div class="ui-g-9 ui-fluid"><p-calendar [(ngModel)]="eventModel.registrationEndTS" [showIcon]="true"></p-calendar></div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Location</label></div>
                    <div class="ui-g-9 ui-fluid"><textarea pInputTextarea [(ngModel)]="eventModel.address" style="resize:none; height:5em"></textarea></div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Image</label></div>
                    <div class="ui-g-9 ui-fluid">
                        <p-fileUpload #fubauto mode="basic" accept="image/*" maxFileSize="1000000" (onUpload)="onImageUpload($event)" auto="true" chooseLabel="Choose Image"></p-fileUpload>
                    </div>
                    <img *ngIf="eventModel.imgPath" src={{eventModel.imgPath}} class="ui-g-9 ui-g-offset-3" />
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Terms and Conditions</label></div>
                    <div class="ui-g-4 ui-fluid">
                        <p-fileUpload #fubauto mode="basic" maxFileSize="1000000" (onUpload)="onTncUpload($event)" auto="true" chooseLabel="Choose File"></p-fileUpload>
                    </div>
                    <div class="ui-g-4 ui-fluid"><button pButton type="button" label="Download" (click)="downloadTnc()" [disabled]="eventModel.tncFilePath == null || eventModel.tncFilePath==''"></button></div>
                </div>
            </div>
            <!--<div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Promo Code Enabled</label></div>
                <div class="ui-g-9 ui-fluid">
                    <p-checkbox [(ngModel)]="eventModel.promoCodeEnabled" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Promo Code List</label></div>
                <div class="ui-g-9 ui-fluid">
                    <p-fileUpload #fubauto mode="basic" maxFileSize="1000000" (onUpload)="onPromoCodeUpload($event)" auto="true" chooseLabel="Choose File"></p-fileUpload>
                </div>
            </div>-->

        </div>
        <div *ngIf="currentStep==1">
            <div class="ui-g">
                <div class="ui-g-3 ui-g-offset-3 price-column"><label>Standard</label></div>
                <div class="ui-g-3 price-column"><label>Members</label></div>
                <div class="ui-g-3 price-column"><label>Promo</label></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><label>Early Registration</label></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><label>Late Registration</label></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
                <div class="ui-g-3 price-column"><input pInputText /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-g-offset-3 price-column"></div>
                <div class="ui-g-3 price-column"></div>
                <div class="ui-g-3 price-column"></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Enable Promocode</label></div>
                <div class="ui-g-3 ui-fluid">
                    <p-checkbox [(ngModel)]="eventModel.promoCodeEnabled" binary="true"></p-checkbox>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Promocode List</label></div>
                <div class="ui-g-4 ui-fluid"><button pButton type="button" label="Upload" (disabled)="true"></button></div>
                <div class="ui-g-4 ui-fluid"><button pButton type="button" label="Remove" [disabled]="true"></button></div>
            </div>
        </div>
        <!--<div *ngIf="currentStep==2">

            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Contact Phone</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.contactPhone" /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Contact Email</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.contactEmail" /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Facebook Link</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.fbLink" /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Vkontakte Link</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.vkLink" /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Additional Information</label></div>
                <div class="ui-g-9 ui-fluid"><textarea pInputTextarea [(ngModel)]="eventModel.additionalData" style="resize:none; height:10em"></textarea></div>
            </div>

        </div>-->

        <div *ngIf="currentStep==2">
            <category-edit [categories]="eventModel.categoryModels">
            </category-edit>
            <!--<div class="category-list">
                <div class="ui-g">
                    <category #categoryList *ngFor="let category of eventModel.categoryModels;" [category]="category" (onCategoryDelete)="categoryDelete($event)" class="ui-g-12"></category>
                </div>
                <div class="ui-g"><button pButton type="button" class="ui-button-icon-left" icon="fa-plus" label="Add category" (click)="categoryCreate()"></button></div>
            </div>-->
        </div>

        <div *ngIf="currentStep==3" class="">
            <div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Title</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.title}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Date</label></div>
                    <div class="ui-g-9 ui-fluid">
                        {{eventModel.eventDate | date}}
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration Start</label></div>
                    <div class="ui-g-9 ui-fluid">
                        {{eventModel.registrationStartTS | date}}
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration End</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.registrationEndTS | date}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid o"><label>Description</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.description}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Location</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.address}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Image</label></div>
                    <div class="ui-g-9 ui-fluid">todo</div>
                </div>


            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="float-left"><button pButton type="button" class="float-right" label="Back" (click)="previousStep()" *ngIf="currentStep != 0"></button></div>
        <div class="float-right"><button pButton type="button" class="float-right" label="Continue" (click)="nextStep()" *ngIf="currentStep != lastStep"></button></div>
        <div class="float-right"><button pButton type="button" class="float-right" label="Save" (click)="saveAsDraft()"></button></div>
    </div>
</div>