@import '../../shared/styles/variables.scss';

.ui-steps .ui-steps-item {
    width: 25%
}


.price-column {
    border-right: 1px solid $theme_grey;

    &:last-child {
        border-right: 0px;
    }

    .ui-inputtext {
        margin: 0 10%;
        width: 80%;
    }


    label {
        margin: 10% 0;
        width: 100%;
        text-align: center;
    }
}
