<fighter-filter 
(onFilterChanged) = "onFilterChanged($event)"
>
</fighter-filter>

<div *ngIf="fighters" class="fighter-list">
    <data-table id="persons-grid"
        headerTitle="Participants list"
        [items]="fighters"
        [itemCount]="fightersCount"
             
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'firstName'"
            [header]="'First Name'"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'lastName'"
            [header]="'Last Name'"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'team'"
            [header]="'Team'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'weight'"
            [header]="'Weight'"
            [resizable]="true">
        </data-table-column> 
        <data-table-column
            [property]="'belt'"
            [header]="'Belt'"
            [resizable]="true">
        </data-table-column>
         <data-table-column
            [property]="'age'"
            [header]="'Age'"
            [resizable]="true">
        </data-table-column>
    </data-table>
</div>