<div class="ui-g">
    <category-with-division-filter [eventId]="eventId"
                                   [refreshTrigger]="filterRefreshTrigger"
                                   autoSelectFirstWeightDivision="true"
                                   (onFilterChanged)="filterSelected($event)"></category-with-division-filter>
</div>
<div class="ui-g">
    <div class="ui-g-12">
        <button pButton type="button" label="Run Weight Division" iconPos="right" icon="fa-play-circle" (click)="runWeightDivision()" [disabled]="!isFilterSelected"></button>
        <button pButton type="button" label="Referee TV Mode" iconPos="right" icon="fa-tv" (click)="runWeightDivisionSpectatorView()" [disabled]="!isFilterSelected"></button>
        <button pButton type="button" label="Category Overview TV Mode" icon="fa-tv" iconPos="right" (click)="runCategorySpectatorView()" [disabled]="!isCategorySelected"></button>
    </div>
    <div class="ui-g-12">
        <button pButton type="button" label="Set Bracket Results" (click)="showResultSetPopup()" [disabled]="!bracket"></button>
    </div>
</div>
<bracket *ngIf="bracket" [bracket]="bracket" (roundClick)="runRound($event);"></bracket>
<round-panel *ngIf="showRoundPanel" [matchModel]="selectedRoundDetails" (close)="completeRound()" (completeRound)="completeRound()"></round-panel>
<p-dialog width="500" [modal]="true" [(visible)]="showResultPopup" (onHide)="hideResultSetPopup();">
    <bracket-result-set *ngIf="bracket" [bracket]="bracket"></bracket-result-set>
</p-dialog>