<h3 class="first">{{title}}</h3>
<div *ngIf='entities' class='datatable'>
    <p-dataTable [value]="entities" [(selection)]="selectedEntity" selectionMode="single" (onRowSelect)="onRowSelect($event)" [responsive]="true">
        <p-column *ngFor ="let column of columns" field="{{column.propertyName}}" header="{{column.displayName}}"></p-column>
        <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></p-footer>
    </p-dataTable>
</div>


<p-dialog header="{{title}} Details" [(visible)]="displayDialog" [responsive]="fade" showEffect="fade" [modal]="true" [width]="400"
    [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="entity">
        <div class="ui-grid-row" *ngFor ="let column of columns">
            <div class="ui-grid-col-4"><label for="{{column.propertyName}}">{{column.displayName}}</label></div>
            <div class="ui-grid-col-8"><input pInputText id="{{column.displayName}}" [(ngModel)]="entity[column.propertyName]" /></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>