<div class='datatable'>
    <h3 class="first">{{title}}</h3>
    <p-dataTable [value]="entities" [(selection)]="selectedEntity" selectionMode="single" (onRowSelect)="onRowSelect($event)"
        [responsive]="true">
        <p-column  header="#" [style]="{'width':'4%','text-align':'center'}">
            <template let-ri="rowIndex+1" pTemplate type="body">
                <span>{{ri}}</span>
            </template>
        </p-column>
        <div *ngFor="let column of columns">
            <p-column *ngIf="!isIdColumn(column)" field="{{column.propertyName}}" header="{{column.displayName}}"></p-column>
        </div>
        <p-footer>
            <div  *ngIf="editEnabled" class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div>
        </p-footer>
    </p-dataTable>
</div>


<p-dialog header="{{title}} Details" [(visible)]="displayDialog" [responsive]="fade" showEffect="fade" [modal]="true" [width]="400"
    [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="entityToEdit">
        <div class="ui-grid-row" *ngFor="let column of columns">
            <div *ngIf="!isIdColumn(column) || (isIdColumn(column) && !newEntity)" class="ui-grid-col-4"><label for="{{column.propertyName}}">{{column.displayName}}</label></div>

            <div *ngIf="!isIdColumn(column)" class="ui-grid-col-12"><input [disabled] ="!column.isEditable" pInputText id="{{column.displayName}}" [(ngModel)]="entityToEdit[column.propertyName]" /></div>
            <div *ngIf="isIdColumn(column) && !newEntity" class="ui-grid-col-12"><label class="id-label" for="{{column.propertyName}}">{{entityToEdit[column.propertyName]}}</label></div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>