.datatable {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 50px;
}

    .datatable .btn {
        margin-top: 5px;
    }

.float-left {
    float: left;
}

.display-none {
    display: none !important;
}

.section {
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #a6c9e2;
    padding: 20px;
    margin: 20px 0px;
}


body {
    background-color: #f8f8f8;
}
