<div class="section">
    <fighter-filter (onFilterChanged)="onFilterChanged($event)">
    </fighter-filter>
</div>

<crud [entities]='fighters'
      [title]="'Fighters'"
      [columns]="fighterColumns"
      [editEnabled]="false"
      [deleteEnabled]="true"
      (onDelete)="deleteFighter($event)"
      >
</crud>

<div class="section">
    <file-upload></file-upload>
    <button type="button" #bracketsButton pButton [disabled] ="true" (click)="getBracketsFile()" label="Get Brackets"></button>
</div>