@import '../../../shared/styles/variables.scss';

.category {
    
    &:first-child {
        margin-top: 0px;
    }

    margin-top: 20px;
    border: 1px solid;
    border-color: $theme_grey;
    
    .category-name {
        margin-left:auto;
        margin-right:auto;
        font-weight:bold;
    }

}