@import '../../../../assets/themes/trnmnt/_variables.scss';

.category {

    margin-bottom: 20px;
    border: 1px solid;
    border-color: $theme_grey;
    background-color: white;
    box-shadow: $theme_box_shadow;

    .category-name {
        text-align: center;
        font-weight: bold;
    }

    .weight-division{
        float:left;
        border: 1px solid $theme_grey;
        margin-right: 10px;
        padding: 0.5em;
    }
}

.title{
    text-align:center;
    font-weight: bold;
}

.round-time-picker {
    input {
        width: 5em;
    }
}
