@import '../../../shared/styles/variables.scss';

.category {

    &:first-child {
        margin-top: 0px;
    }

    margin-top: 20px;
    border: 1px solid;
    border-color: $theme_grey;

    .category-name {
        text-align: center;
        font-weight: bold;
    }
}

.title{
    text-align:center;
    font-weight: bold;
}

.round-time-picker {
    input {
        width: 4em;
    }
}

.steps-content{
    float:none;
    min-height:75vh;
}
