<div class="ui-g">
    <div class="ui-g-3">
        <button pButton type="button" (click)="addCategory()" label="Add Category"></button>
    </div>
</div>
<div class="ui-g category" *ngFor="let category of categories;">
    <div class="ui-g-12 category-name">
        {{category.name}}
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3"><label class="field-title"><b>Round Time:</b></label></div>
        <div class="ui-g-2"><label >{{category.roundTime | minuteSeconds}}</label></div>
    </div>
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-3">
            <label class="field-title"><b>Wight Divisons:</b></label>
        </div>
        <div class="ui-g-9 ">
            <div class="ui-g-4 ui-g-nopad" *ngFor="let wd of category.weightDivisionModels">
                <label>{{wd.name}}</label>
            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="float-right">
            <button pButton type="button" iconPos="left" icon="fa-pencil" (click)="addCategory()" label="Edit"></button>
        </div>
    </div>
</div>

<p-dialog [(visible)]="display"
          [modal]="true"
          [draggable]="false"
          [resizable]="false"
          [showHeader]="true"
          [width]="500">
    <div class="ui-g">
        <div class="ui-g-3">
            <label>Round Time</label>
        </div>
        <div class="ui-g-3">
            <input pInputText />
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-offset-4 ui-g-4 ui-fluid"><button pButton type="button" label="Save" (disabled)="true"></button></div>
        <div class="ui-g-4 ui-fluid"><button pButton type="button" label="Delete" [disabled]="true"></button></div>
    </div>
</p-dialog>