<div class="fighter-filter">
    <div class="filter-section" *ngIf="weightDivisions">
        <h5>Weight class:</h5>
        <dropdown [dropdownValues]="weightDivisionDDLOptions" (onSelect)="weightSelect($event)"></dropdown>
    </div>
    <div class="filter-section" *ngIf="categories">
        <h5>Category:</h5>
        <dropdown [dropdownValues]="categoryDDLOptions" (onSelect)="categorySelect($event)"></dropdown>
    </div>
    <div class="filter-section" *ngIf="weightDivisions">
        <h5>Weight class:</h5>
        <p-dropdown [options]="weightDivisionSelectOptions" [(ngModel)]="selectedWD"></p-dropdown>
    </div>

</div>