<div class="ui-g">
    <category-with-division-filter *ngIf="!ddlDataLoading"
                                   [eventId]="eventId"
                                   useDataFromInput="true"
                                   [categories]="participantDdlModel.categories"
                                   [weightDivisions]="participantDdlModel.weightDivisions"
                                   isMemberFilterEnabled="true"
                                   (onFilterChanged)="filterParticipants($event)"></category-with-division-filter>
</div>
<div class="ui-g">
        <ng-template #weightInActionsTemplate let-data>
                <p-button icon="fas fa-check-circle" [styleClass]="data.weightInStatus == approvalStatus.approved? 'status-approved' :'' " (click)="setWeightIn(data,approvalStatus.approved)"></p-button>
                <p-button icon="fas fa-clock" [styleClass]="data.weightInStatus == approvalStatus.pending? 'status-pending' :'' " (click)="setWeightIn(data,approvalStatus.pending)"></p-button>
                <p-button icon="fas fa-times-circle" [styleClass]="data.weightInStatus == approvalStatus.declined? 'status-declined' :'' " (click)="setWeightIn(data,approvalStatus.declined)"></p-button>
            </ng-template>
    <crud #crudComponent
          [entities]="participantsModel"
          [columns]="columns"
          [columnOptions]="columnOptions"
          [showRowNumbers]="false"
          [addEnabled]="false"
          [sortField]="sortField"
          [sortOrder]="sortDirection"
          [lazy]="true"
          (onLazyLoad)="onLoadData($event)"
          [totalRecords]="totalCount"
          [(firstIndex)]="firstIndex"
          (onEntitySelected)="onEntitySelected($event)"
          (onUpdate)="onEntityUpdate($event)"
          (onDelete)="onEntityDelete($event)"
          [dialogMinWidth]="500"
          class="ui-g-12"
          gridMinHeight="350"
          [actionsTemplate]="weightInActionsTemplate"
          [actionsHeader]="'EVENT_MANAGEMENT.WEIGHT_IN' | translate">
    </crud>
</div>
<div class="ui-g">
    <participant-list-upload [eventId]="eventId" (onUpload)="onFileUploaded($event)" class="ui-g-12"></participant-list-upload>
    <absolute-weight-division [categoryId]="selectedCategoryId" [isAllWinnersSelected]="isAllWinnersSelected" class="ui-g-12" (saveAbsolute)="refreshDdlModel();" ></absolute-weight-division>
</div>

