<!--<ng-template >-->
<category-with-division-filter [eventId]="eventId" (onFilterChanged)="filterParticipants($event)"></category-with-division-filter>
<crud [entities]="participantsModel"
      [columns]="columns"
      [columnOptions]="columnOptions"
      [showRowNumbers]="false"
      [addEnabled]="false"
      [sortField]="sortField"
      [sortOrder]="sortDirection"
      [lazy]="true"
      (onLazyLoad)="onLoadData($event)"
      [totalRecords]="totalCount"
      (onEntitySelected)="onEntitySelected($event)"
      (onUpdate)="onEntityUpdate($event)"
      (onDelete)="onEntityDelete($event)"
      [dialogMinWidth]="500"
      gridMinHeight="415">
</crud>
<!--</ng-template>-->