<div class="ui-g">
    <category-with-division-filter *ngIf="!ddlDataLoading"
                                   [eventId]="eventId"
                                   useDataFromInput="true"
                                   [categories]="participantDdlModel.categories"
                                   [weightDivisions]="participantDdlModel.weightDivisions"
                                   isMemberFilterEnabled="true"
                                   (onFilterChanged)="filterParticipants($event)"></category-with-division-filter>
</div>
<div class="ui-g">
    <crud #crudComponent
          [entities]="participantsModel"
          [columns]="columns"
          [columnOptions]="columnOptions"
          [showRowNumbers]="false"
          [addEnabled]="false"
          [sortField]="sortField"
          [sortOrder]="sortDirection"
          [lazy]="true"
          (onLazyLoad)="onLoadData($event)"
          [totalRecords]="totalCount"
          [(firstIndex)]="firstIndex"
          (onEntitySelected)="onEntitySelected($event)"
          (onUpdate)="onEntityUpdate($event)"
          (onDelete)="onEntityDelete($event)"
          [dialogMinWidth]="500"
          class="ui-g-12"
          gridMinHeight="350">
    </crud>
</div>
<div class="ui-g">
    <participant-list-upload [eventId]="eventId" (onUpload)="onFileUploaded($event)" class="ui-g-12"></participant-list-upload>
    <absolute-weight-division [categoryId]="selectedCategoryId" class="ui-g-12" ></absolute-weight-division>
</div>

