
.ui-steps .ui-steps-item {
    width: 33.3%;
}

p-dropdown.ng-valid[required] .ui-dropdown,
p-calendar.ng-valid[required] span input,
input.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

p-dropdown.ng-invalid.ng-touched:not(form) .ui-dropdown,
p-calendar.ng-invalid.ng-touched:not(form) span input,
input.ng-invalid.ng-touched:not(form) {
    border-left: 5px solid black; /* red */
}

