@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }


}


/*LOADER*/

.cssload-ball {
    position: relative;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    border: 1px solid rgb(133,137,138);
    left: 35%;
    left: calc(50% - 19px);
    left: -o-calc(50% - 19px);
    left: -ms-calc(50% - 19px);
    left: -webkit-calc(50% - 19px);
    left: -moz-calc(50% - 19px);
    transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    animation: cssload-ball 2.1s linear infinite;
    -o-animation: cssload-ball 2.1s linear infinite;
    -ms-animation: cssload-ball 2.1s linear infinite;
    -webkit-animation: cssload-ball 2.1s linear infinite;
    -moz-animation: cssload-ball 2.1s linear infinite;
}

    .cssload-ball:after {
        content: "";
        position: absolute;
        top: -2px;
        left: 9px;
        width: 5px;
        height: 5px;
        border-radius: 4px;
        background-color: rgb(235,230,235);
    }



@keyframes cssload-ball {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-ball {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-ball {
    0% {
        -ms-transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-ball {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-ball {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

.loader-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.8;
    padding-top: 50%;
    z-index:1;
}
