<div class="ui-container">
    <div class="ui-g">
        <div class="ui-g-12 ui-g-nopad page-title">
        </div>
    </div>
    <div class="ui-widget ui-widget-content ui-corner-all ui-g-offset-2 ui-g-8">
        <div class="ui-g-12 ui-fluid" *ngIf="eventModel">
            <h3>
                {{'REGISTRATION_TO_EVENT.CONGRATS_YOU_ARE_REGISTERED_TO'|translate:eventTitleParameter}}
            </h3>
        </div>
        <div class="ui-g-6 ui-g-offset-3 ui-fluid" *ngIf="eventModel">
            <button pButton type="button" class="float-left" label="{{'REGISTRATION_TO_EVENT.GO_BACK_TO_EVENT_PAGE'|translate}}" (click)="goToEventPage()"></button>
        </div>
    </div>
</div>