<div class="ui-panel ui-panel-content">
    <fieldset class="ui-widget-content second-color-border ui-fluid ui-corner-all">
        <legend>
            <div class="category-header">
                <label *ngIf="!isEdit" (click)="toggleEdit()">{{category.name}}</label>
                <div *ngIf="isEdit">
                    <input #inputCategoryName pInputText [(ngModel)]="category.name" (focus)="toggleEdit()" (blur)="toggleEdit()" />
                    <button pButton type="button" class="ui-button-success" icon="fa-save" ></button>
                </div>
            </div>
        </legend>
        contenet
    </fieldset>
    <!--<div class="ui-widget-content second-color-border ui-fluid ui-corner-all">    <h3>content</h3></div>-->
</div>
