<div class="ui-widget">
    <p-steps [model]="menuItems" [activeIndex]="currentStep"></p-steps>
    <div class="ui-g ">
        <div *ngIf="currentStep==0" class="ui-g-6 ui-g-offset-3 ui-widget-content ui-corner-all">
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Title</label></div>
                <div class="ui-g-9 ui-fluid"><input pInputText [(ngModel)]="eventModel.title" /></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Date</label></div>
                <div class="ui-g-9 ui-fluid">
                    <p-calendar [(ngModel)]="eventModel.date" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Registration Start</label></div>
                <div class="ui-g-9 ui-fluid">
                    <p-calendar [(ngModel)]="eventModel.registrationStartTS" [showIcon]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Registration End</label></div>
                <div class="ui-g-9 ui-fluid"><p-calendar [(ngModel)]="eventModel.registrationEndTS" [showIcon]="true"></p-calendar></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid o"><label>Description</label></div>
                <div class="ui-g-9 ui-fluid"><textarea pInputTextarea [(ngModel)]="eventModel.description" style="resize:none; height:20em"></textarea></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Location</label></div>
                <div class="ui-g-9 ui-fluid"><textarea pInputTextarea [(ngModel)]="eventModel.address" style="resize:none; height:10em"></textarea></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>Description</label></div>
                <div class="ui-g-9 ui-fluid">todo</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3 ui-fluid"><label>URL</label></div>
                <div class="ui-g-3 ui-fluid"><input pInputText [(ngModel)]="eventModel.urlPrefix" /></div>
                <div class="ui-g-6 ui-fluid">.trnmnt.pro</div>
            </div>
        </div>


        <div *ngIf="currentStep==1" class="ui-g-6 ui-g-offset-3">
            <div class="category-list">
                <div class="ui-g">
                    <category #categoryList *ngFor="let category of eventModel.categories;" [category]="category" (onCategoryDelete)="categoryDelete($event)" class="ui-g-12"></category>
                </div>
                <div class="ui-g"><button pButton type="button" class="ui-button-icon-left" icon="fa-plus" label="Add category" (click)="categoryCreate()"></button></div>
            </div>
        </div>

        <div *ngIf="currentStep==2" class="ui-g-6 ui-g-offset-3">
            <div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Title</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.title}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Date</label></div>
                    <div class="ui-g-9 ui-fluid">
                        {{eventModel.date.toDateString()}}
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration Start</label></div>
                    <div class="ui-g-9 ui-fluid">
                        {{eventModel.registrationStartTS.toDateString()}}
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Registration End</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.registrationEndTS.toDateString()}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid o"><label>Description</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.description}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Location</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.address}}</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>Image</label></div>
                    <div class="ui-g-9 ui-fluid">todo</div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-fluid"><label>URL</label></div>
                    <div class="ui-g-9 ui-fluid">{{eventModel.urlPrefix}}.trnmnt.pro</div>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="float-left"><button pButton type="button" class="float-right" label="Back" (click)="previousStep()" *ngIf="currentStep != 0"></button></div>
        <div class="float-right"><button pButton type="button" class="float-right" label="Continue" (click)="nextStep()" *ngIf="currentStep != lastStep"></button></div>
        <div class="float-right"><button pButton type="button" class="float-right" label="Save as draft" (click)="saveAsDraft()"></button></div>
    </div>
</div>