
<div class="ui-panel ui-panel-content">
    <fieldset class="ui-widget-content second-color-border ui-fluid ui-corner-all">
        <legend>
            <div class="category-header">
                <input #inputCategoryName class="second-color-border" pInputText [(ngModel)]="category.name" [disabled]="!isEdit" autofocus/>
                <button pButton type="button" class="ui-button-success ui-button-icon-only" icon="fa-save" (click)="save()" *ngIf="isEdit"></button>
                <button pButton type="button" class="ui-button-icon-only" icon="fa-edit" (click)="edit()" *ngIf="!isEdit"></button>
                <button pButton type="button" class="ui-button-danger ui-button-icon-only" icon="fa-times" (click)="delete()"></button>
            </div>
        </legend>
        contenet
    </fieldset>
    <!--<div class="ui-widget-content second-color-border ui-fluid ui-corner-all">    <h3>content</h3></div>-->
</div>
