
.fighter-filter {
    margin: auto;
    max-width: 1000px;
}


.filter-section {
    display: block;
    width: 400px;
}

    .filter-section  h5 {
        width: 150px ;
        display: inline-block
    }


    .filter-section .dropdown {
        display: inline-block;
        width: 150px !important;
    }