@{
    ViewData["Title"] = "Home Page";
}
<div class="display-none" id="eventIdfield">"60E9DA46-C660-4A9B-5C43-08D4C85DC994"</div>

<app class="ui-g" style="display: block;">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
