@{
    ViewData["Title"] = "Home Page";
}
<div class="display-none" id="homepage">@ViewBag.HomePage</div>

<app class="ui-g" style="display: block;">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
