@{
    ViewData["Title"] = "Home Page";
}
<div #eventId style="display:none">@ViewBag.EventId</div>
<div #federationId style="display:none">@ViewBag.FederationId</div>


<app class="ui-g" style="display: block;">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
