<div class="complete-round-wrapper">
    <div class="complete-round-label">Winner</div>
    <div class="complete-round-radio-button-group">
        <div>
            <p-radioButton label="{{roundDetails.roundModel.firstParticipant.firstName}} {{roundDetails.roundModel.firstParticipant.lastName}}"
                           value="{{roundDetails.roundModel.firstParticipant.participantId}}"
                           [(ngModel)]="winnerId">
            </p-radioButton>
        </div>
        <div>
            <p-radioButton label="{{roundDetails.roundModel.secondParticipant.firstName}} {{roundDetails.roundModel.secondParticipant.lastName}}"
                           value="{{roundDetails.roundModel.secondParticipant.participantId}}"
                           [(ngModel)]="winnerId">
            </p-radioButton>
        </div>
    </div>
    <div class="complete-round-label">Reason</div>
    <div class="complete-round-radio-button-group">
        <div>
            <p-radioButton value="{{roundResults.Points}}" label="{{roundResults[roundResults.Points]}}" [(ngModel)]="roundResult"></p-radioButton>
        </div>
        <div>
            <p-radioButton value="{{roundResults.Advantages}}" label="{{roundResults[roundResults.Advantages]}}" [(ngModel)]="roundResult"></p-radioButton>
        </div>
        <div><p-radioButton value="{{roundResults.Penalties}}" label="{{roundResults[roundResults.Penalties]}}" [(ngModel)]="roundResult"></p-radioButton></div>
        <div>
            <p-radioButton value="{{roundResults.Decision}}" label="{{roundResults[roundResults.Decision]}}" [(ngModel)]="roundResult"></p-radioButton>
        </div>
        <div>
            <p-radioButton value="{{roundResults.Submission}}" label="{{roundResults[roundResults.Submission]}}" [(ngModel)]="roundResult"></p-radioButton>
        </div>
        <div class="complete-round-radio-button-group" [hidden]="roundResult!=roundResults.Submission">
            <div>
                <p-radioButton value="{{submissionTypes.Armlock}}" label="{{submissionTypes[submissionTypes.Armlock]}}" [(ngModel)]="submissionType"></p-radioButton>
            </div>
            <div>
                <p-radioButton value="{{submissionTypes.Leglock}}" label="{{submissionTypes[submissionTypes.Leglock]}}" [(ngModel)]="submissionType"></p-radioButton>
            </div>
            <div>
                <p-radioButton value="{{submissionTypes.Choke}}" label="{{submissionTypes[submissionTypes.Choke]}}" [(ngModel)]="submissionType"></p-radioButton>
            </div>
        </div>
        <div>
            <p-radioButton value="{{roundResults.Disqualification}}" label="{{roundResults[roundResults.Disqualification]}}" [(ngModel)]="roundResult"></p-radioButton>
        </div>
    </div>
    <div class="complete-round-navigation-panel">
        <div class="complete-round-button" (click)="save()">Save</div>
        <div class="complete-round-button" (click)="close()">Cancel</div>
    </div>
</div>

